

.menu {
  z-index: 0;
  width: 25vw;
  height: 100vh;
  background-color: rgb(120, 108, 108);

  align-items: center;
  position: absolute;
}

.menuHeading {
  z-index: 0;
  font-family:cursive;
  margin-top: 2%;
  font-size: 2rem;
  text-align: center;
  overflow:hidden;
}

.selectionButtons {
  z-index: 0;
  display: flex;
  flex-direction: column; /* Stack buttons from bottom to top */
  align-items: center; /* Align buttons horizontally at the center */
  justify-content: space-evenly; /* Distribute space evenly between buttons */
  width: 15%;
  height: 85%; /* Adjust the height of the container as needed */
  
}

.selectionButtons button {
  transform: rotate(-90deg); /* Rotate the buttons by 180 degrees */
  /* Additional button styles */
  
}

.loadNavbar {
  margin-left: 25vw;
  width: 75vw;
  position: relative;
  height: 10vh;
  background-color: white;

}
.fillHeight {
  height: 100%;
}



.navSelector {
  position: absolute;
  top: 15%;
  bottom: 0;
  text-align: center;
  right: 0;
  width: 85%;
  height: 80%;
  background-color: rgb(228, 215, 215);
  overflow: auto;
  z-index: 1;
}

/* Media rule for screens with a maximum width of 768px */
@media (max-width: 768px) {
  .navSelector {
    margin-top: 25%;
    overflow:auto;
    width: 75%; /* Adjust the width to fit the container */
    height: auto; /* Reset the height to adjust based on content */
  }
}

.bodySelector {
  position: absolute;
  top: 15%;
  bottom: 0;
  text-align: center;
  right: 0;
  width: 85%;
  height: 80%;
  background-color: rgb(228, 215, 215);
  overflow: auto;
  z-index: 1;
}

/* Media rule for screens with a maximum width of 768px */
@media (max-width: 768px) {
  .bodySelector {
    margin-top: 25%;
    overflow:auto;
    width: 75%; /* Adjust the width to fit the container */
    height: auto; /* Reset the height to adjust based on content */
  }
}

.contentSelector {
  position: absolute;
  top: 15%;
  bottom: 0;
  text-align: center;
  right: 0;
  width: 85%;
  height: 80%;
  background-color: rgb(228, 215, 215);
  overflow: auto;
  z-index: 1;
}

/* Media rule for screens with a maximum width of 768px */
@media (max-width: 768px) {
  .contentSelector {
    margin-top: 25%;
    overflow:auto;
    width: 75%; /* Adjust the width to fit the container */
    height: auto; /* Reset the height to adjust based on content */
  }
}

.footerSelector {
  position: absolute;
  top: 15%;
  bottom: 0;
  text-align: center;
  right: 0;
  width: 85%;
  height: 80%;
  background-color: rgb(228, 215, 215);
  overflow: auto;
  z-index: 1;
}

/* Media rule for screens with a maximum width of 768px */
@media (max-width: 768px) {
  .footerSelector {
    margin-top: 25%;
    overflow:auto;
    width: 75%; /* Adjust the width to fit the container */
    height: auto; /* Reset the height to adjust based on content */
  }
}


